@tailwind base;
@tailwind components;
@tailwind utilities;

.headImg {
    width: 140px;
    height: 110px;
}
.slogan {
    display: flex;
    padding-top: 40px;
    color: darkmagenta;
    font-size:smaller;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.PureHead {
    display: flex;
    margin-bottom: 20px;
}
.TopHeading {
    display: block;
    padding-left: 410px;
    background-color: lightgoldenrodyellow;
    margin: -20px;
    
}