.TopHeading >h1 {
    display: inline;
    width: max-content;
}
.header {
    display: flex;
    justify-content: space-between;
    outline: 3px solid black;
    border: 4px solid darkolivegreen;
    background-color: lightcoral;
   }
.logo { 
    width: 78px;
    float: inline-start;
    outline: 3px dashed lightgray;
}
.nav-items > ul {
    justify-content: right;
    display: flex;
    list-style-type: none;
    font-size: 15px; font-weight:bold;
    background-color: #f0f0f0;
    padding-top: 24px;
    padding-bottom: 8px;
    outline: 3px solid lightgray;

}
.nav-items > ul,li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 200px;
    margin: 3px;
}
.res-card:hover {
    cursor: pointer;
    border: 2px dashed goldenrod;
}

.Search {
    padding: 10px;
}

.filter-btn{
margin: 10px;
padding: 4px;
cursor: pointer;
}
.res-logo {
    width: 170px;
    height: 150px;
    padding: 15px;   
}
.res-card >h3 {
    padding-left: 40px;
    margin-bottom: -12px;
    margin-top: -12px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;  
}